<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Etablir facture</title>
		<link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{../css/monstyle.css}" />
	</head>
	<body>
		<div class="container">
		<ul class="nav">
			<li class="nav-item"><a class="nav-link" th:href="@{/}">Accueil</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/clients}">Nos clients</a></li>
			<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-item"><a class="nav-link" th:href="@{/ajoutClient}">Ajouter un nouveau client</a></li>
			<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-item"><a class="nav-link" th:href="@{/ajoutReservation}">Ajouter une nouvelle réservation</a></li>
			<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="nav-item"><a class="nav-link" href="/formFacture">Editer facture</a></li>
			<li class="nav-item"><a class="nav-link" th:text="'Bienvenue ' + ${#authentication.name}"></a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Déconnexion</a></li>
		</ul>
		<h1 class="h1">Etablir la facture de :</h1>
		<form method="post" th:action="@{/etablirFacture}">
		<select name="idClient">
			<option th:each="c:${clients}" th:text="${c.nom}" th:value="${c.idClient}"></option>
		</select>
		<input type="submit" value="Etablir facture" />
		</from>
		</div>
	</body>
</html>